name: build_docker_containers

# Controls when the workflow will run
on:
  # Run this manually to enable testing, but event setup for auto-trigger will also be complicated
  # (since action should track a different repo than it lives in)
  workflow_dispatch:

env: 
  DOCKER_REPO: siliconlabsinc/renode_container

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # standard github runner
    runs-on: ubuntu-latest

    steps:
      # Check out docker-specific repo
      - name: Checkout renode_docker
        uses: actions/checkout@v4
        with:
          path: renode_docker
      
      # Check out renode repo itself
      - name: Checkout renode repo
        uses: actions/checkout@v4
        with:
          repository: SiliconLabsSoftware/renode
          path: renode

      # build renode in same environment that renode container will use
      - name: Build renode_build container
        working-directory: renode_docker/containers/renode_build
        run: |
         docker build --platform linux/amd64 --no-cache --build-arg CONTAINER_UID=$(id -u) -t $DOCKER_REPO:renode_build .

      - name: Build renode inside renode_build container and validate installation
        run: |
          docker run --rm --platform linux/amd64 -v $GITHUB_WORKSPACE/renode:/opt/renode $DOCKER_REPO:renode_build bash -c 'cd /opt/renode; ./build.sh --net -p'
          docker run --rm --platform linux/amd64 -v $GITHUB_WORKSPACE/renode:/opt/renode $DOCKER_REPO:renode_build bash -c 'cd /opt/renode; ./renode --version'

      - name: Move output renode package 
        run: |
          ls -l renode
          ls -l renode/output
          ls -l renode/output/packages 
          mv -v renode/output/packages/renode-*.linux-dotnet.tar.gz renode_docker/containers/renode/silabs-renode.tar.gz
          mkdir renode_docker/containers/renode/renode_package
          tar -xzf renode_docker/containers/renode/silabs-renode.tar.gz -C renode_docker/containers/renode/renode_package
          mv -v renode_docker/containers/renode/renode_package/renode_*-dotnet renode_docker/containers/renode/silabs-renode-dotnet

      - name: Build renode container
        working-directory: renode_docker/containers/renode
        run: |
          docker build --platform linux/amd64 --no-cache --build-arg CONTAINER_UID=$(id -u) -t $DOCKER_REPO:renode .

      - name: Validate renode from inside renode container
        run: |
          docker run --rm --platform linux/amd64 $DOCKER_REPO:renode bash -c 'renode-test /opt/renode/tests/example.robot'

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.SILABSW_PUBLIC_DOCKER_USERNAME }}
          password: ${{ secrets.SILABSW_PUBLIC_DOCKER_PAT}}          


      - name: Push container to dockerhub
        if: github.ref == 'refs/heads/main'
        run: |
          docker image push $DOCKER_REPO:renode
